<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>

        .container{text-align: center}
        .container>img{width: 800px}
    </style>
    <title>Document</title>
</head>
<body>

<div class="container">
    <h1>页面不存在</h1>
    <img src="/image/404.jpg" alt="该图片无法显示">
</div>
</body>
</html>