<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        nav{padding:10px 0}
        .card{margin-top: 30px}
    </style>
    <title>相册首页</title>
</head>
<body>
<nav class="bg-dark">
    <h1 class="text-white text-center">相册首页</h1>
</nav>
<div class="container">
    <div class="row">
        <%for(var i=0;i<titles.length;i++){%>
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="/image/folder.png" alt="Card image">
                <div class="card-body">
                    <a href="/user/<%=titles[i]%>" target="_blank"><h4 class="card-title"><%=titles[i]%></h4></a>
                </div>
            </div>
        </div>
        <%}%>
    </div>

</div>
</body>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="/js/jquery-3.1.1.min.js"></script>

<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="/js/bootstrap.min.js"></script>
</html>